body {
    background-color: rgb(40, 40, 40);
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}
/* Start here by styling the main div section */
.main {
    border: 10px dotted orange;
    background-color:white;
    font-size: 60px;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
    width:800px;
    margin-left: 400px;

    

   

}
.square {
    margin: 0.5em;
    

    
    
    
}

.square::after {
    content: "??"
}

.square:hover {
    border: 2px solid  orange ;
    border-radius:5px;
    padding: 2px;
    background-color:rgb(255, 206, 132)
}

.square:active::after {
    content:"☠️"
}

#s9:active::after {
    content:"👻"
}



